/* be-vietnam-pro-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/be-vietnam-pro-v11-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/be-vietnam-pro-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/be-vietnam-pro-v11-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/be-vietnam-pro-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/be-vietnam-pro-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/be-vietnam-pro-v11-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fonts */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  display: flex;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  line-height: 24px;
  /* color: ; */
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
}
main {
  flex-grow: 1;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 56px;
  padding-bottom: 56px;
}
.site-logo {
  display: block;
}
.site-logo__img {
}
.site-nav {
}
.site-nav__list {
  display: flex;
  gap: 32px;
}
.site-nav__item {
}

.site-nav__link {
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
}
.site-nav__link:hover {
  color: #242d52;
  opacity: 0.5;
}
.header_button {
  width: 137px;
  height: 44px;
  flex-shrink: 0;
  background-color: #f3603c;
  padding: 10px 31px;
  color: #fcf6f5;
  border-radius: 22px;
  font-size: 13px;
  transition: 0.3s;
}
.header_button:hover {
  background-color: #f98f75;
  cursor: pointer;
}
.header_button12 {
  background: 0;
  border: 0;
  font-size: 25px;
  color: black;
  display: none;
}
/* iefesigtritr */
@media screen and (max-width: 600px) {
  .site-nav {
    display: none;
  }
  .header_button {
    display: none;
  }
  .header_button12 {
    display: block;
  }
  .header_button12:hover {
    color: rgba(0, 0, 0, 0.603);
  }
}
/* duhuweauferf */
.hero {
}
.hero__container {
}
.container {
}
.hero__content {
  display: flex;
}
.hero__div1 {
  width: 100%;
  max-width: 445px;
  height: 388px;
}
.hero__title {
  width: 100%;
  max-width: 445px;
  flex-shrink: 0;
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.hero__p {
  width: 100%;
  max-width: 350px;
  height: 78px;
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.hero__btn {
  background-color: #f3603c;
  border-radius: 22px;
  width: 137px;
  height: 44px;
  flex-shrink: 0;
  padding: 12px 32px;
  color: #fcf6f5;
  font-family: "Be Vietnam" sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
}
.hero__btn:hover {
  background-color: #f98f75;
  cursor: pointer;
}
.hero__div2 {
  margin-left: 120px;
  display: inline-flex;
  flex-wrap: wrap;
}
.imgo {
  margin-left: 135px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(80, 86, 98, 0.03);
}
@media screen and (max-width: 600px) {
  .hero__div2 {
    width: 318px;
    height: 286px;
    flex-shrink: 0;
    margin-left: -370px;
    gap: 12px;
  }
  .kichik {
    width: 140px;
    height: 130px;
  }
  .imgo {
    margin-left: 67px;
  }
  .hero__div1 {
    margin-top: 319px;
  }
  .hero__title {
    color: #242d52;
    text-align: center;
    font-family: "Be Vietnam" sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
  }
  .hero__p {
    color: #242d52;
    text-align: center;
    font-family: "Be Vietnam" sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__btn {
    width: 137px;
    height: 44px;
    margin-left: 150px;
  }
}
.hero__img1 {
}
/* uuuftrtry */
.section3 {
  margin-top: 80px;
  margin-left: -50px;
  display: flex;
  align-items: start;
}
.section3__birinchibolim {
  margin-top: 32px;
  display: flex;
  width: 100%;
  max-width: 445px;
  height: 224px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}
.section3__h23 {
  width: 100%;
  max-width: 445px;
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.714px;
}
.section3__p3 {
  width: 100%;
  max-width: 350px;
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5025343894958496;
}
.section4__ikkinchibolim {
  margin-top: 30px;
}
.section4__ul {
}
.section4__item {
  display: flex;
  align-items: start;
  gap: 28px;
}
.section4__item-number {
  color: #fff;
  text-align: center;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.286px;
  padding: 9px 25px;
  width: 67px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 39px;
  background: #f3603c;
}
.section4__item-text-wrapper {
  display: flex;
  width: 100%;
  max-width: 445px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 19px;
}
.section4__item-title {
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.286px;
  margin-top: 10px;
}
.section4__item-text {
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .section3 {
    display: inline;
  }
}
/* heferusfuyruyser */
.uchinchisection {
  margin-top: 64px;
  text-align: center;
  width: 400px;
  height: 210px;
  flex-shrink: 0;
  background: #fafafa;
}
.uchinchisection__h3 {
  margin-left: 270px;
  color: #242d52;
  font-family: "Be Vietnam" sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.714px;
  margin-bottom: 64px;
}
.uchinchisection__ul {
  padding: 0px 20px 0px 20px;
}
.uchinchisection__li {
}
.uchinchisection__name {
  color: #242d52;
  text-align: center;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.286px;
}
.uchinchisection__description {
  color: #242d52;
  text-align: center;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.5025343894958496;
  max-width: 460px;
  height: 78px;
}
.qiz {
  position: relative;
  top: -40px;
  left: 145px;
}
.girl-div {
  display: flex;
  gap: 30px;
  margin-left: -160px;
}
.buttono {
  margin-top: 48px;
  margin-left: 400px;
  margin-bottom: 180px;
}
@media screen and (max-width: 600px) {
  .girl-div {
    display: block;
  }
  .uchinchisection__h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
  .block {
    display: none;
  }
  .korin {
    margin-left: 150px;
  }
}
/* iuefrgyr */
.confoo {
  width: 100%;
  background: #f3603c;
}
.con {
  display: flex;
  align-items: center;
}
.con__title {
  width: 445px;
  height: 96px;
  color: #fff;
  font-family: "Be Vietnam" sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.714px;
}
.butooon {
  margin-left: 550px;
  width: 137px;
  height: 44px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  color: #f3603c;
  font-family: "Be Vietnam" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer {
  width: 100%;
  background-color: black;
}
/* ufeuuryuurtg */
.foooter__img {
  margin-top: 62px;
  margin-bottom: 83px;
}
.footer__div1 {
  margin-left: 232px;
  margin-top: -100px;
  margin-bottom: 61px;
}
.footer__li {
}
.footer__div2 {
  display: flex;
}
.footer__div3 {
  margin-top: -50px;
}
.footer__ul1 {
  margin-left: 132px;
}
.footer__li2 {
  margin-top: 20px;
  width: 145px;
}
.footer__li2 a {
  color: #fff;
  font-family: "Be Vietnam" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.234px;
}
.footer__div4 {
  margin-left: 50px;
}
.footer__ul2 {
  margin-top: -50px;
}
.footer__li3 {
  margin-top: 20px;
}
.footer__li3 a {
  color: #fff;
  font-family: "Be Vietnam" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.234px;
}
.Policy {
  width: 145px;
}
.footer__aa {
}
.footer__aa2 {
}
.logo-wrap {
  display: flex;
  margin-left: -20px;
}
.footer__li a img {
  margin-left: 20px;
  padding-left: 0;
}
.tugma1 {
  width: 200px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #fff;
  padding: 13px 20px;
  color: #8d8d8d;
  font-family: "Be Vietnam" sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1px;
  margin-left: 140px;
}
.tugma2 {
  margin-left: 8px;
  width: 64px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #f3603c;
  color: #fcf6f5;
  font-family: "Be Vietnam" sans-serif;
  padding: 13px 20px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
